* {
  box-sizing: border-box;
  font-family: "lato", Arial, Helvetica, sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #3c3877;
  border-radius: 4px;
  text-align: center;
  font-size: 1em;
}

input[type="text"]:focus {
  border: 3px solid #4197d6;
}

button[type="submit"] {
  width: 100%;
  background-color: #7ca953;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #72c73d;
  color: white;
}

form {
  background-color: #3c3877;
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: #d0cdfa;
  text-align: center;
  font-weight: bold;
}

.link a {
  color: #3c3877;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.navbar {
  padding: 0;
  margin: 0;
  background-color: #3c3877;
  border-bottom: 1px solid #3c3877;
}

.navbar h2 {
  color: #ffffff;
  margin: 0px 0px;
  padding: 20px;
}

.navbar .second-word {
  color: #7ca953;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 0px;
  margin: 0px 40px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #7ca953;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.chart {
  width: 20px;
  height: 20px;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  color: #d8000c;
}

.card a {
  color: #3c3877;
  font-weight: bold;
}

.list-tile {
  padding: 20px;
  display: block;
  margin: 0 0 30px 0;
  background: #f1f1f1;
  font-size: 11px;
  text-align: left;
  position: relative;
}

.list-tile:hover {
  opacity: 0.8;
}

.list-tile h2 {
  color: #3c3877;
  margin: 0 0 10px 0;
}

.list-tile a {
  color: #7ca953;
  font-weight: bold;
}

.list-container {
  width: 80%;
  margin: 0 auto;
}

.count-box {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.main-header {
  text-align: center;
}

.top-title {
  color: #3c3877;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .list-container {
    width: 96%;
  }
}
